* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {

    background-image: linear-gradient(rgba(70, 25, 25, 0.3), rgba(70, 25, 25, 0.3)), url(BG1.jpg);
    background-size: cover;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;

}

.container {

    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
	border-radius: 5px;
	
}

.panel-1{

    width: 60%;
    float: left;
    height: 100%;
    padding: 50px;
    
}

.panel-2 {

    width: 40%;
    float: left;
    height: 100%;
	background-color: rgba(179, 251, 244, 0.623);
}



/* 這裡開始是Lab4偷來ㄉ */

.row{
    width: 100%;
	height: 18%;
}
.btn {
    width: 100%;
    height: 60px;
    background: #88e0f0ab;
    font-size: 22px;
    color: black;
    transition: background 0.3s;			
}
.active {

    background-color: #36e9c2f1;
    
}